@use 'sass:map';
@use 'blue-scale' as *;
@use 'blue-vivid-scale' as *;
@use 'grey-scale' as *;
@use 'spacing-scale' as *;
@use 'font-scale' as *;

@forward 'blue-scale';
@forward 'blue-vivid-scale';
@forward 'grey-scale';
@forward 'spacing-scale';
@forward 'font-scale';

@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;0,700;1,400&display=swap');

$font-primary: 'Lato', sans-serif;

$color-bg-primary: map.get($grey-scale, "100");

//  Color Variables Gammes
$FOB: #3498A8;
$FOS:#DB3938;
$PC:#E1823A;
$MOB:#7F4C99;
$SIN:#30A636;
$SA:#B68510;

//  Color Variables Géneriques/Logo
$GRISP:#848585;
$BLEUP:#203C81;





