@use 'sass:map';
@use 'blue-scale' as *;   // brings $blue-scale into scope here
@use 'grey-scale' as *;

@forward 'blue-scale';    // still re-exports to consumers
@forward 'grey-scale';

$color-bg-primary: map.get($blue-scale, "100");

//  Color Variables Gammes
$FOB: #3498A8;
$FOS:#DB3938;
$PC:#E1823A;
$MOB:#7F4C99;
$SIN:#30A636;
$SA:#B68510;

//  Color Variables Géneriques/Logo
$GRISP:#848585;
$BLEUP:#203C81;

// Color Variables Blue
$BDEC0: #EDF1FA;
$BDEC1: #E6E9F1;
$BDEC2: #CDD3E3;
$BDEC3: #B4BED5;
$BDEC4: #9BA8C7;
$BDEC5: #8292B9;
$BDEC6: #6A7DAB;
$BDEC7: #51679D;
$BDEC8: #38518F;
$BDEC9: #1C3572;
$BDEC10: #182E64;
$BDEC11: #152856;
$BDEC12: #112147;
$BDEC13: #0E1A39;
$BDEC14: #0A142B;
$BDEC15: #070D1C;
$BDEC16: #03060E;