.proforma-header {
  background-color: map.get($grey-scale, "300");
}

.article-card {
  background-color: map.get($grey-scale, "200");

  .article-card-info {
    background-color: map.get($grey-scale, "200");
    font-family : $font-primary;
    color : $font-color-black;

    h3 {
      font-size: map.get($font-scale, "base");
      font-weight: 700;
    }

    p {
      font-size: map.get($font-scale, "xs");
      text-transform: uppercase;
    }

  }

  .article-card-detail {
    background-color: map.get($grey-scale, "300");
    font-weight: 700;
  }
}

