// Handle global and default Styles
body {
  margin: 0;
  font-family: $font-primary;
}

#app {
  background-color: map.get($grey-scale, "100");
}

.topbar-wrapper {
  background-color: map.get($blue-vivid-scale, "1500");
  $font-family: $font-primary;
  color: $font-color-white;
}

.notification-arrow-left,
.notification-arrow-right {
  stroke: map.get($grey-scale, "100");
}

.sidebar {
  font-family: $font-primary;
  .sidebar-company {
    background-color: map.get($grey-scale, "200");
  }
}

.sidebar-button {
  a {
    color: map.get($grey-scale, "1300");
    font-weight: 800;
  }

  .pocket-button {
    background-color: map.get($grey-scale, "400");
  }
  .notification-button {
    background-color: map.get($grey-scale, "400");
  }

  .sidebar-button-icon path {
    stroke-width: 1.5;
    stroke: map.get($grey-scale, "1300");
  }
}

.sidebar-short-pro {
  background-color: map.get($blue-vivid-scale, "1500");
  color: $font-color-white;
}

.sidebar-menu-nav-apro {
  background-color: map.get($grey-scale, "200");
}

.sidebar-menu-nav-market {
  background-color: map.get($grey-scale, "200");
}

.sign-and-home {
  background-color: map.get($grey-scale, "200");
}

.profil-space {
  background-color: map.get($grey-scale, "200");
}

.sidebar-menu-nav-apro,
.sidebar-menu-nav-market {
  font-size: 15px;
  h1 {
    color: map.get($grey-scale, "1500");
    font-weight: 800;
  }
  a {
    color: map.get($grey-scale, "1400");
    font-weight: 500;
  }

  p {
    color: map.get($grey-scale, "800");
    font-weight: 100;
  }
}
